
.shop-container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.shop{
    display: flex;
    width: 90vw;
}
.shop-left{
    padding: 0px 12px;
    border: 2px solid #f5f5f5;
    border-radius: 12px;
    width: 18vw;
    color: #666666;
}
.categories-section{
    width: 100%;
}
.categories-section h3{
    color:#008ECC;
    height: 40px;
    font-size: 1.1rem;
    padding: 10px;
    margin: 0;
    display: flex;
    align-items: center;
}
.category-list ul{
    margin-bottom: 8px;
    padding-left: 12px;
}
.category-title{
    font-weight: 450;
}
.category-title:hover{
    color: #222222;
}
.category-title div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
li{
    list-style: none;
}

.vertical-line{
    border: 0.01px solid #EDEDED;
}
.brands{
    padding-bottom: 8px;
    width: 100%;
}
.brands h3{
    color:#008ECC;
    height: 40px;
    font-size: 1.1rem;
    padding: 10px;
    margin: 0;
    display: flex;
    align-items: center;
}
.brand{
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1.1rem;
}
.brand:hover{
    color: #222222;
}
.brand-checkbox{
    margin-left:10px;
    cursor: pointer;
}
.customer-reviews h3{
    color:#008ECC;
    height: 40px;
    font-size: 1.1rem;
    padding: 10px;
    margin: 0;
    display: flex;
    align-items: center;
}
.stars-container{
    margin-left: 8px;
    display: flex;
    align-items: center;
    gap: 2px;
    padding-bottom: 12px;
}
.stars{
    color:#DE7921;
}

.by-price h3{
    color:#008ECC;
    height: 40px;
    font-size: 1.1rem;
    padding: 10px;
    margin: 0;
    display: flex;
    align-items: center;
}
.price-text{
    display: flex;
    gap: 6px;
    align-items: center;
    font-size: 0.8rem;
}
.price-box{
    display: flex;
    width: 80px;
    align-items: center;
    border-radius: 6px;
    background-color: #f5f5f5;
    padding-left: 6px;
}
.price-input{
    background-color: #f5f5f5;
    border-radius: 6px;
    font-size: 0.8rem;
    width: 100%;
    padding: 4px;
    border: none;
    outline: none;
}
.price-button{   
    background-color: #008ECC;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    width: 36px;
    padding: 5px 0px;
}



/* shop right */
.shop-right{
    width: 86vw;
    background-color: white;
    color : #666666;
}
.sort-by-container{
    display: flex;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-weight: 500;
}
.free-shipping{
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 4px 6px;
    border: 1.5px solid #008ECC;
    border-radius: 6px;
    background-color: #f5f5f5;
    color: #222222;
}

.sort-by{
    display: flex;
    gap: 6px; 
    padding: 4px;
    border-radius: 12px;
    background-color: #f5f5f5;
    border: 2px solid #f5f5f5
}
.sort-by select{
    font-weight: 500;
    background: #f5f5f5;
    border: none;
    color: #666666;
    outline: none;
    cursor: pointer;
    width: 150px;
}
.sort-by select:hover{
    color: #222222;
}
.sort-by-list{
    font-weight: 500;
    cursor: pointer;
    color: #666666
}
.product-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 12px;
    gap: 26px;
    
}